<script lang="ts">
  import { each, onDestroy } from "svelte/internal";
  import { bounceIn } from "svelte/easing";
  import { flip } from "svelte/animate";

  import confetti from "canvas-confetti";

  import type { Duration } from "date-fns";
  import formatDuration from "date-fns/formatDuration";

  import { moves, solvingStartTime, solvingDuration } from "../store/";
  import Piece from "./Piece.svelte";
  import ResetButton from "./ResetButton.svelte";
  import Success from "./Success.svelte";

  // ----------------------------------

  export let numberOfPieces: number = 16;
  export let showSolveButon: boolean = false;

  let duration: Duration;
  let pieces = Object.keys(new Array(numberOfPieces).fill(0)).map(Number);

  function checkStartTimer() {
    if (!$solvingStartTime) {
      solvingStartTime.set(new Date());
    }
  }

  function reset() {
    pieces = pieces.sort(() => 0.5 - Math.random());
    solvingStartTime.set(undefined);
    moves.set(0);
    duration = undefined;
  }

  function findNeighbours(number) {
    const index = pieces.indexOf(number);
    const row = matrix.findIndex((row) => row.includes(number));
    const col = matrix[row].indexOf(number);
    return {
      up: row - 1 >= 0 ? matrix[row - 1][col] : undefined,
      right: col + 1 < cols ? matrix[row][col + 1] : undefined,
      down: row + 1 < rows ? matrix[row + 1][col] : undefined,
      left: col - 1 >= 0 ? matrix[row][col - 1] : undefined,
    };
  }

  function handleMove(event: any) {
    if (solved) {
      return;
    }
    checkStartTimer();
    moves.update((n) => n + 1);
    const { number } = event.detail;
    const neighbours = findNeighbours(number);
    const [direction, value] =
      Object.entries(neighbours).find(([direction, value]) => value === 0) ||
      [];
    if (!direction) {
      return;
    }
    const index = pieces.indexOf(number);
    const zeroIndex = pieces.indexOf(0);
    pieces[zeroIndex] = number;
    pieces[index] = 0;
    pieces = pieces;
  }

  function solve() {
    checkStartTimer();
    pieces = pieces.sort((a, b) => a - b);
  }

  function startConfetti() {
    confetti({
      particleCount: 300,
      spread: 120,
    });
  }

  // do an intial shuffling
  reset();

  $: rows = Math.ceil(Math.sqrt(numberOfPieces));
  $: cols = pieces.length / rows;
  $: matrix = Object.keys(new Array(rows).fill(0))
    .map(Number)
    .reduce(
      (acc, i) => [...acc, pieces.slice(i * rows, i * rows + cols)],
      new Array<number[]>()
    );

  $: solved = pieces
    .filter((value) => value !== 0)
    .reduce(
      ({ last, valid }, next) => ({
        valid: valid && last < next,
        last: next,
      }),
      { valid: true, last: 0 }
    ).valid;

  $: if (solved) {
    const unsubscribe = solvingDuration.subscribe((value) => {
      duration = value;
    });
    unsubscribe();
    startConfetti();
    console.log("solved");
    solvingStartTime.set(undefined);
  }

  $: formattedDuration = $solvingDuration
    ? formatDuration($solvingDuration)
    : "0 seconds";
</script>

<style>
  .board {
    @apply gap-0 m-10 border-blue-800 border-4;
  }
</style>

<div class="flex justify-evenly">
  <div>Moves {$moves}</div>
  <div>Time: {formattedDuration}</div>
</div>
<div class="board grid grid-rows-4 grid-cols-4 gap-0">
  {#each pieces as number (number)}
    <span id="piece-{number}" animate:flip={{ duration: 100 }}>
      <Piece {number} on:move={handleMove} />
    </span>
  {/each}
</div>
<div class="flex justify-around mt-10">
  <ResetButton on:reset={reset} />
  {#if showSolveButon}
    <button
      class="bg-green-500 px-6 py-4 text-white font-bold rounded-md"
      on:click={solve}>Solve</button>
  {/if}
</div>
{#if solved}
  <Success {duration} moves={$moves} on:reset={reset}>
    <ResetButton on:reset={reset} />
  </Success>
{/if}
