<script>
  import Icon from "fa-svelte";
  import faTwitter from "@fortawesome/fontawesome-free-brands/faTwitter";
  import faGitlab from "@fortawesome/fontawesome-free-brands/faGitlab";
</script>

<style>
  a {
    @apply text-gray-900;
  }

  a:hover {
    @apply text-gray-700;
  }
</style>

<div class="bg-opacity-50 bg-blue-500 flex justify-around items-center py-3">
  <div class="w-1/2 flex justify-around text-xl">
    <a target="_blank" href="https://twitter.com/thopaw">
      <Icon icon={faTwitter} />
    </a>
    <a class="text-black" target="_blank" href="https://gitlab.com/thopaw">
      <Icon icon={faGitlab} />
    </a>
  </div>
</div>
