<script>
  import { createEventDispatcher } from "svelte/internal";
  import { fade } from "svelte/transition";

  import packageInfo from "../../package.json";

  const dispatch = createEventDispatcher();
  function close() {
    dispatch("close");
  }

  const keys = ["name", "version", "description", "homepage"];
  const infos = [
    ...Object.entries(packageInfo).filter(([key, value]) => keys.includes(key)),
    ["bugs", packageInfo.bugs.url],
  ];
</script>

<style>
  p,
  ul {
    @apply pb-2;
  }
  ul {
    @apply list-disc list-inside;
  }

  .backdrop {
    @apply fixed w-screen h-screen top-0 bottom-0 left-0 right-0 bg-gray-800
    bg-opacity-50 flex p-20;
  }

  .modal {
    @apply m-auto bg-blue-300 p-5 border-4 border-orange-500 rounded-md shadow w-3/4;
    @apply flex flex-col;
  }

  .header .heading {
    @apply text-center text-lg font-extrabold py-3;
  }

  .content {
    @apply overflow-y-auto scrolling-touch;
    max-height: 50vh;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
  }

  .footer {
    @apply flex justify-center;
  }
</style>

<div transition:fade class="backdrop">
  <div class="modal">
    <div class="header">
      <h3 class="heading">Info</h3>
    </div>
    <div class="content">
      <div class="flex flex-col">
        <p>
          This is an implementation of <a
            href="https://en.wikipedia.org/wiki/15_puzzle"
            target="_blank">Puzzle-15</a> using the following technologies:
        </p>
        <ul>
          <li><a href="https://svelte.dev/" target="_blank">Svelte.js</a></li>
          <li>
            <a href="https://tailwindcss.com/" target="_blank">TailwindCss</a>
          </li>
          <li>
            <a
              href="https://docs.gitlab.com/ee/user/project/pages/"
              target="_blank">Gitlab Pages</a>
          </li>
        </ul>
        <p>
          This was a fun exercise for learning. I would be happy to receive <a
            target="_blank"
            href="https://twitter.com/thopaw">tweets</a>, messages or <a
            target="_blank"
            href="https://gitlab.com/thopaw/puzzle-15">pull/merge requests</a>.
        </p>
        <hr class="my-3" />
        <h3>Package Infos</h3>
        <ul>
          {#each infos as [key, value]}
            <li>{key}: {value}</li>
          {/each}
        </ul>
      </div>
    </div>
    <div class="footer">
      <button
        class="bg-blue-700 text-gray-100 px-4 py-2 font-bold"
        on:click={close}>Close</button>
    </div>
  </div>
</div>
