<script lang="ts">
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let number: number = 0;

  function move() {
    dispatch("move", { number });
  }
</script>

<style>
  .piece {
    @apply flex justify-center items-center w-full rounded-lg h-24 font-bold font-sans border-2 border-gray-300;
  }
  .zero {
    @apply invisible;
  }
  .non-zero {
    @apply bg-blue-500 text-gray-200 text-2xl;
  }
</style>

<button
  id="button-piece-{number}"
  class:non-zero={number !== 0}
  class:zero={number === 0}
  class="piece"
  on:click={move}>{number}</button>
