<script>
  import { createEventDispatcher } from "svelte";

  import Icon from "fa-svelte";
  import { faUndo } from "@fortawesome/free-solid-svg-icons";
  const icon = faUndo;

  const dispatch = createEventDispatcher();
  function reset() {
    dispatch("reset");
  }
</script>

<style>
  .btn-reset {
    @apply bg-orange-500 px-6 py-4 text-white font-bold rounded-md;
  }
</style>

<button class="btn-reset" on:click={reset}>
  <span class="mr-2">Reset</span>
  <Icon {icon} /></button>
