<script lang="ts">
  import type { Duration } from "date-fns";
  import { fade } from "svelte/transition";
  import formatDuration from "date-fns/formatDuration";
  import ResetButton from "./ResetButton.svelte";

  import { createEventDispatcher } from "svelte/internal";

  export let duration: Duration;
  export let moves: number;

  const dispatch = createEventDispatcher();
  function reset() {
    dispatch("reset");
  }

  $: formattedDuration = formatDuration(duration);
</script>

<div
  transition:fade
  class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center
    h-screen bg-opacity-50 bg-gray-900">
  <div
    class="bg-indigo-400 text-purple-800 font-bold rounded-full border shadow
      border-purple-800 px-10 py-5 flex flex-col items-center bg-opacity-100">
    <h3 class="text-xl">You have won!</h3>
    <p class="text-center mb-3">
      You solved the puzzle in {formattedDuration} and {moves} moves
    </p>
    <slot />
  </div>
</div>
