<script lang="ts">
  import Board from "./components/Board.svelte";
  import Footer from "./components/Footer.svelte";
  import Info from "./components/Info.svelte";

  import Icon from "fa-svelte";
  import { faInfoCircle } from "@fortawesome/free-solid-svg-icons";

  const infoIcon = faInfoCircle;

  export let showSolveButon: boolean = false;

  let showInfo = false;

  function toggleShowInfo() {
    showInfo = !showInfo;
  }
</script>

<main class="h-screen w-100">
  <div class="flex justify-center pb-20">
    <div class="m-auto container max-w-lg">
      <h1 class="text-center mb-3">
        <span>Puzzle-15 </span>
        <span class="text-md"><button on:click={toggleShowInfo}>
            <Icon icon={infoIcon} />
          </button>
        </span>
      </h1>
      <Board numberOfPieces={16} {showSolveButon} />
    </div>
    {#if showInfo}
      <Info on:close={toggleShowInfo} />
    {/if}
  </div>
</main>

<footer class="fixed bottom-0 w-full">
  <Footer />
</footer>
