@tailwind base;

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h1 {
  @apply text-4xl;
}
body {
  @apply bg-blue-200;
}

a {
  @apply text-orange-600 underline;
}

a:hover {
  @apply text-orange-800;
}

@tailwind components;
@tailwind utilities;
